@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
body {
  overflow-x: hidden;
}
main {
  height: 100vh;
}
section {
  transition: 0.3s;
}
li,
button,
a {
  cursor: pointer;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0 !important;
}

.sidebar {
  width: 250px;
  left: 0;
  transition: 0.3s ease;
  &-link {
    &:hover {
      background-color: #424242;
    }
  }
  &-btn{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    @media screen and (max-width:992px){
      display: flex;
    }
  }
  @media screen and (max-width: 992px) {
    left: -100%;
  }
}
.sidebar.toggle {
  left: -100%;
  @media screen and (max-width: 992px) {
    left: 0;
  }
}
.main {
  width: calc(100% - 250px);
  transition: 0.3s ease;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.main.toggle {
  width: 100%;
}
